body {
    font-family: 'Courier New', Courier, monospace;
}


/* A small reset section for ease of use */

* {
    box-sizing: border-box;
}

* { 
    margin: 0;
}

html, body {
    height: 100%; 
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* RESET OVER */

/* COLOR PALETTE REFERENCE --



*/

/* PAGE SECTIONS */



/* NAV SECTION */
#navbar {
    height: 7.5vh;
}
/* NAV SECTION END */



/* HEADING SECTION */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #FFFFFF;
}


.header-img {
    height: 30rem;
}

#main-text {
    display: flex;
    align-items: center;
    font-size: 5.5vh;
    margin-right: 8vh;
    margin-bottom: 0;
}

/* HEADING SECTION END */
 

/* PROJECTS SECTION */
#projects-section {
    height: 40vh;
    background-color: #FFFFFF;
    padding-top: 4vh;
    padding-bottom: 4vh; 
}
/* PROJECTS SECTION END */





/* ABOUT ME SECTION */
#about-section {
    padding-top: 4vh;
    padding-bottom: 4vh;
    height: 40vh;
    background-color: #fff1e6;

}
/* ABOUT ME SECTION END */





/* FOOTER SECTION */
#footer {
    background-color: #fff1e6;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.footer-text {
    margin-bottom: 0;
}


/* FOOTER SECTION END */



/* PAGE SECTIONS END */

.container {
    max-width: 60%;
}

.section-title {
    display: flex;
    justify-content: center;
    font-size: 6vh;
    margin-bottom: 4vh;
}

.text-center {
    text-align: center;
}






